body {
	background-color: lightblue;
    background-image: url("../images/bcc_logo1024.png");
    background-repeat: no-repeat;
    background-position: top center;
}
p
{
	color:black;
}
#burrs
{
	margin-top:60px;
}